
.Bookland{
    display: flex;
    justify-content: center;

}
.BooklandContainer{
    display: flex;
    z-index: 0;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    // margin:0 100px;
    align-items: center;
    width: 80%;
    // background-color: hotpink;
    .BooklandTop{
        // background-color: green;
        display: flex;
        justify-content: center;
        .BooklandTopLeft{
            display: flex;
            justify-content: center;
            // background-color: peru;
            // width: 50%;
            gap: 10px;
            .BooklandImgOne{
                .bookImgOne{
                    width: 275px;
                    height: 430px;
                    border-radius: 6px;
                }

            }
            .BooklandLeftVol2{
                .BooklandImgTwo{
                    .bookImgTwo{
                        min-width: 275px;
                        height: 287px;
                        border-radius: 6px;
                    }
                }
                .fiftyCont{
                    display: flex;
                    z-index: 1;
                    position: relative;
                    right:120px;
                    .fifty{
                        // padding: 0;
                        border-radius: 6px;
                        // gap: 7px;
                        width: 145px;
                        
                        height: 160px;
                        // font-size: 30px;
                        display:flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        text-align: center;
                        background-color: black;
                        color: white;
                        .fiftyHead{
                            font-size: 50px !important;
                        }
                        .fiftyTitle{
                            font-size: 20px !important;
                        }
                    }
                    .BookList{
                        // background-color: burlywood;
                        width: 254px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        .BookListComp{
                            display: flex;
                            gap: 20px;
                        }
                    }

                }

            }
        }
        .BooklandTopRight{
            // background-color: grey;
            max-width: 100%;
            display: flex;
            max-height: 100%;
            flex-direction: column;
            justify-content: center;
            gap:20px;
            // max-height: 300px;
            // padding: 30px;
            font-size: 23px;
        }
    }
    .BooklandBottom{
        display: flex;
        justify-content: space-between;
        // background-color: red;
        width:100%;
    }
}
@media only screen and (max-width: 1024px) {
    .BooklandTopRight{
       font-size: 14px !important;
    }


}