
section{
   display: flex;
   height: 90vh;
   max-width: 100%;
   justify-content: space-around;
   .container{
      display: flex;
      max-width: 80%;
      flex-direction: column;
         .bookland{
         padding-top: 5em;
         height: 70vh;
         max-width: 100%;
         display: flex;
         margin-bottom: 70px;
        

     .leftpart{
        display: flex;
        max-width: 50%;
        .img1{
         max-width: 500px;
         margin-right: 10px; 
         padding: 1em;    
         img{
            height: 100%;
            border-radius: 10px;
         }
         
        }
        .img2{
         max-width: 100%;
         max-height: 100%;
         margin-left: 10px;
         padding: 1em;
          .image_2{
            max-width: 300px;
            max-height: 400px;
            img{
               width: 100%;
               height: 100%;
               border-radius: 10px;
            }
        
         }
         .part_50_container{
            
            max-width: 500px;
            max-height: 200px;
            margin-left: -13rem;
            display: flex;
            padding-left: 40px;
            
            .part_50{
                display: flex;
               flex-direction: column;
               background-color: #e5588d;
               height: 160px;
               width: 150px;
               border-radius: 6px;
               gap: 20px;
               padding: 10px;
               text-align: center;
               color: white;
               font-family: Poppins,sans-serif;
               h2{
                  font-size: 60px;
                 
               }
               h6{
                  font-size: 20px;
                  font-weight: 400;
               }

            }
              .info{
               display: flex;
               align-items: center;
               justify-content: center;
               max-width: 100%;
               padding: 20px 40px;
               background-color: white;
               li{
                  padding: 5px;
                  color: #767676;
                  font-size: 16px;
                  i{
                     color: #e5588d;
                     margin: 0 10px ;
                     font-size: 20px;
                     
                    
                  }
               }
            }

         }

        }
     }
     .rightpart{
      
      max-width: 50%;
      height: 100%;
      .rightpart_content{
         display: flex;
         flex-direction: column;
         padding-top: 7rem;
         padding-left:30px ;
         padding-right: 30px;
         h2{
         font-size: 50px;

      }
      p{
         font-size: 18px;
         color: #767676;
         padding: 40px 0;
      }
      }
      .getInTouch{
         margin-top:30px ;
      }
      

      
      
     }
}
      .logoipsum{
         height: 30vh;
         display: flex;
         justify-content: space-around;
         margin-top: 10px;
         max-width: 100%;
         img{
           max-width:200px;
           
         }
      }
   }
 



}
