#ourPricing {
    background-color: #F5F5F5;
    min-height: 930px;
    .ourPricingCont {
        h1 {
            font-size: 50px;

        }

        margin: 0 auto;
        // height: 100vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        .ourPricingText {
            max-width: 700px;
            text-align: center;
            color: #777777;
        }

        .ourPricingCardCont {
            display: flex;
            gap: 40px;

        }
    }
}

@media only screen and (max-width: 1070px) {
    .ourPricingCardCont {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}